# Finding the frauds

### This Ipython notebook aims to find out all the

In [ ]:
import pandas as pd
import os
from file import *

##

In [24]:
currency_df = pd.read_csv(os.path.join(dir_path, './fct_data/currency_details.csv'))
fx_df = pd.read_csv(os.path.join(dir_path, './fct_data/fx_rates.csv'))
trans_df = pd.read_csv(os.path.join(dir_path, './fct_data/transactions.csv'), index_col=0)
users_df = pd.read_csv(os.path.join(dir_path, './fct_data/users.csv'), index_col=0)
fraudster_df = pd.read_csv(os.path.join(dir_path, './fct_data/fraudsters.csv'), index_col=0)

In [27]:
currency_df.columns = map(str.lower, currency_df.columns)
fx_df.columns = map(str.lower, fx_df.columns)
trans_df.columns = map(str.lower, trans_df.columns)
users_df.columns = map(str.lower, users_df.columns)

In [31]:
trans_df[trans_df['user_id'] == "a91002c4-d045-4e27-a2ed-00df1cdf2f97"]

,currency,amount,state,created_date,merchant_category,merchant_country,entry_method,user_id,type,source,id
439275,GBP,100,REVERTED,2018-04-25 14:49:15.407000,NaN,NaN,misc,a91002c4-d045-4e27-a2ed-00df1cdf2f97,TOPUP,HERA,56dbac16-b770-4e68-8752-315dca46cdc6
444192,GBP,699,COMPLETED,2018-04-27 20:50:52.424000,NaN,NaN,misc,a91002c4-d045-4e27-a2ed-00df1cdf2f97,TOPUP,MINOS,e1133b94-d004-4aae-a23d-5bf937ba761b
448801,GBP,47000,COMPLETED,2018-05-01 08:08:15.233000,atm,GBR,chip,a91002c4-d045-4e27-a2ed-00df1cdf2f97,ATM,GAIA,3c028ad0-597f-43f4-a29a-1d4f8333a8de
448803,GBP,48000,DECLINED,2018-05-01 08:07:51.798000,NaN,GBR,chip,a91002c4-d045-4e27-a2ed-00df1cdf2f97,ATM,GAIA,4233904f-98ab-485e-954d-6a66aecbc6fb
448805,GBP,50000,COMPLETED,2018-05-01 08:06:54.700000,atm,GBR,chip,a91002c4-d045-4e27-a2ed-00df1cdf2f97,ATM,GAIA,bd86641a-63f1-4331-8772-3a7c63364bb7
452312,GBP,399900,COMPLETED,2018-05-01 05:46:17.274000,NaN,NaN,misc,a91002c4-d045-4e27-a2ed-00df1cdf2f97,P2P,INTERNAL,9088d4cc-0815-457a-9686-bd7930ae1525
452565,GBP,399900,COMPLETED,2018-05-01 01:23:34.430000,NaN,NaN,misc,a91002c4-d045-4e27-a2ed-00df1cdf2f97,TOPUP,MINOS,835d9abc-44fa-4ae8-9d58-156ddff37e1a
456584,GBP,50000,DECLINED,2018-05-02 06:51:59.523000,NaN,GBR,chip,a91002c4-d045-4e27-a2ed-00df1cdf2f97,ATM,GAIA,2466785c-16c6-45b8-a2ed-d7cbff96acf1
475907,GBP,500,DECLINED,2018-05-12 20:29:07.443000,NaN,GBR,chip,a91002c4-d045-4e27-a2ed-00df1cdf2f97,ATM,GAIA,1e40283d-2bee-4bd3-965c-be757af476f7
475908,GBP,500,DECLINED,2018-05-12 20:29:07.050000,NaN,GBR,chip,a91002c4-d045-4e27-a2ed-00df1cdf2f97,ATM,GAIA,7e87d11b-ca27-4114-a037-8cf988a86fe6

In [56]:
# users_df[users_df['kyc'] == "FAILED" & users_df['has_email'] == 0]

unidentified_df = users_df.query('kyc == "FAILED" and has_email == 0 and state == "ACTIVE"')
# unidentified_df
unidentified_txns = pd.merge(unidentified_df, trans_df, left_on='id', right_on='user_id')
unidentified_txns.head()

,failed_sign_in_attempts,kyc,birth_year,country,state_x,created_date_x,terms_version,phone_country,has_email,id_x,...,amount,state_y,created_date_y,merchant_category,merchant_country,entry_method,user_id,type,source,id_y
0,0,FAILED,1966,GB,ACTIVE,2015-11-06 12:39:34.355000,NaN,GB||JE||IM||GG,0,62edb2a5-8b28-466a-9a9a-b3e314f2f771,...,1000,DECLINED,2015-11-17 20:30:33.796000,NaN,NaN,misc,62edb2a5-8b28-466a-9a9a-b3e314f2f771,ATM,GAIA,9d99f7f9-ba47-42e4-8151-a5a2aef27f96
1,0,FAILED,1993,GE,ACTIVE,2015-10-18 07:02:26.487000,NaN,GE,0,f6b7f148-bb9f-42c9-9c56-9243f83ee3d5,...,1000,FAILED,2015-11-10 20:26:34.738000,NaN,NaN,misc,f6b7f148-bb9f-42c9-9c56-9243f83ee3d5,TOPUP,NYX,d659b109-0509-49b1-af70-b9a2158b33a4
2,0,FAILED,1981,GB,ACTIVE,2015-08-09 07:33:29.491000,NaN,GB||JE||IM||GG,0,82a2ecd2-0b94-4629-85c0-141d7af04e5f,...,2585,COMPLETED,2015-09-24 11:31:29.321000,NaN,ITA,misc,82a2ecd2-0b94-4629-85c0-141d7af04e5f,CARD_PAYMENT,GAIA,e60174ba-59d1-4084-bcbe-43152f7d22e4
3,0,FAILED,1981,GB,ACTIVE,2015-08-09 07:33:29.491000,NaN,GB||JE||IM||GG,0,82a2ecd2-0b94-4629-85c0-141d7af04e5f,...,3320,COMPLETED,2015-09-27 08:25:57.976000,NaN,ITA,misc,82a2ecd2-0b94-4629-85c0-141d7af04e5f,CARD_PAYMENT,GAIA,74d947bd-49e9-42f4-ba74-e18d86fa29d9
4,0,FAILED,1981,GB,ACTIVE,2015-08-09 07:33:29.491000,NaN,GB||JE||IM||GG,0,82a2ecd2-0b94-4629-85c0-141d7af04e5f,...,5535,COMPLETED,2015-09-27 14:18:17.138000,point_of_interest,GBR,misc,82a2ecd2-0b94-4629-85c0-141d7af04e5f,CARD_PAYMENT,GAIA,65c7a581-6cbd-4202-9666-f67791ae6c7d

In [73]:
frauds_df = unidentified_txns[unidentified_txns['merchant_country'].isnull()]

In [78]:
a = set(frauds_df['id_x']) - set(fraudster_df['user_id'])

In [79]:
a

{'146cb748-d9a7-410a-b2ec-f5c403f7149d',
 '16102a27-534e-48d7-b7d2-99e08e6c7597',
 '1eb7c725-f748-4e76-98cc-1bb6b58d4e4a',
 '5302559e-9dbd-4f1d-ba3b-4e5a10f0e51a',
 '5ff27f1c-65e2-426f-a139-56d7cf6f4a42',
 '62edb2a5-8b28-466a-9a9a-b3e314f2f771',
 '78a0cfa2-f9d3-4f07-94c4-a97f76595589',
 '82a2ecd2-0b94-4629-85c0-141d7af04e5f',
 'acbb5850-8df2-4614-a277-83e020a9edc9',
 'c876e9f6-c0f8-4ee6-80a0-2a9ef751cc80',
 'ccc08947-8246-45c3-ae88-8f9327b60a74',
 'd1e9aea4-e0e3-4ac3-af74-f8095c8b8861',
 'd4aee110-f821-4545-b617-1f49eacad2b9',
 'dd8e1dd7-e467-41ff-908f-4e0ab64d9af3',
 'e0ff10b4-4e05-45c8-9183-ab45ae37913e',
 'e14f2def-d412-4ba6-90da-6ff8c8bf2782',
 'f6b7f148-bb9f-42c9-9c56-9243f83ee3d5'}